{% extends 'base.html' %}
{% load static %}

{% block title %}Workout{% endblock %}

{% block content %}
    <h1>Workout</h1>
    <table>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight</th>
        {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.name }}</td>
                <form action="." method="post">
                    {% csrf_token %}
                    <td>
                        <input type="text" name="lastname" value="" style="text-align:center;"><br><br>
                    </td>
                    <td>
                        <input type="text" name="lastname" value="" style="text-align:center;"><br><br>
                    </td>
                    <td>
                        <input type="text" name="lastname" value="" style="text-align:center;"><br><br>
                    </td>
                    <td>
                        <input type="submit" value="Complete">
                    </td>
                </form>
            </tr>
        {% endfor %}
    </table>
    <form action="." id="add_exercise_form" method="post">
        {% csrf_token %}
        Add new exercise:<br>
        <input type="text" id="exercise_name" value="Exercise name"><br><br>
        <input type="submit" id="add" value="Add">
    </form>

    <script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    $(document).ready(function() {
        $('#add_exercise_form').on('submit', function(e) {
            e.preventDefault();
              var objects =[
                  {
                      name: $('#exercise_name').val(),
                  },
              ];
            $.ajax({
              type: 'POST',
              contentType: "application/json",
              beforeSend: function(request) {
                  request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
              },
              data: JSON.stringify({
                  id: {{ workout.id }},
                  name: '{{ workout.name }}',
                  workout_type: 1,
                  exercises: objects,
              }),
              success: function(response) {
                $('#add_exercise_form')[0].reset();
              },
{#                  error: function(){ ... },#}
              url: '/api/workout/',
              cache:false
            });
        });
    });
    </script>

{% endblock %}