{% extends 'base.html' %}
{% load static %}

{% block title %}Workout{% endblock %}

{% block content %}

    <div class="jumbotron container-fluid text-center">
	    <h1>Workout</h1>
    </div>

    <div class="page-header">
        <h2 id="workout_type_name"></h2>
    </div>

{#    <div class="container">#}
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Sit-ups
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                        <div class="form-group">
                            <label for="cardNumber">
                                Reps</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">
                                Sets</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">
                                Weight</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary pull-right" type="submit" id="start_workout" value="Complete">
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Pull-ups
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                        <div class="form-group">
                            <label for="cardNumber">
                                Reps</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">
                                Sets</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">
                                Weight</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary pull-right" type="submit" id="start_workout" value="Complete">
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Sit-ups
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                        <div class="form-group">
                            <label for="cardNumber">
                                Reps</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">
                                Sets</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">
                                Weight</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary pull-right" type="submit" id="start_workout" value="Complete">
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Sit-ups
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                        <div class="form-group">
                            <label for="cardNumber">
                                Reps</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">
                                Sets</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">
                                Weight</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary pull-right" type="submit" id="start_workout" value="Complete">
                        </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
{#    </div>#}



    <div id="workout_type_form" class="row top-buffer">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group selectize">
                <label class="control-label" for="workout_type_select">Workout Type</label>
                <select name="workout_type_select" class="text-grey select2-field form-control" id="workout_type_select" multiple="multiple"></select>
            </div>
            <input class="btn btn-primary" type="submit" id="start_workout" value="Start">
        </div>
    </div>

    <div id="exercise_form" class="row top-buffer" style="visibility: hidden;">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group selectize">
                <label class="control-label" for="exercise_select">Exercise</label>
                <select name="exercise_select" class="text-grey select2-field form-control" id="exercise_select" multiple="multiple"></select>
            </div>
            <input class="btn btn-primary" type="submit" id="add_exercise" value="Add">
        </div>
    </div>

    <div class="row" id="complete_workout_btn" hidden>
        <div class="container">
            <input class="btn btn-primary" type="submit" id="complete_workout" value="Complete Workout">
        </div>
    </div>



	<script type="text/javascript">


	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}


	$(document).ready(function() {
	    $("#exercise_select").select2({ width: 'resolve' });

		var workoutId;
		var workoutCreated;
		var is_complete = true;
		var workoutTypeName;
		var exerciseName = '';

		$.getJSON( "/api/workout/?term=latest/", function(data) {
		    if (data['count'] > 0) {
                workoutId = data.results[0]['id'];
                workoutCreated = data.results[0]['created'];
                is_complete = data.results[0]['is_complete'];
                workoutTypeName = data.results[0]['workout_type_name']
            }
			if (is_complete === false) {
				$('#exercise_table').prop('hidden', false);
				$('#add_exercise_form').prop('hidden', false);
				$('#start_workout_form').prop('hidden', true);
				$('#workout_type_name').append(workoutTypeName);
{#				$('#complete_workout').prop('hidden', false);#}
				createTable(data.results[0]);
				console.log(`Initial data load - workout with id ${data.results[0]['id']} not marked as completed`);
			}
			else {
				$('#start_workout_form').prop('hidden', false);
				console.log(`Initial data load - workout with id ${data.results[0]['id']} not marked as completed`);
			}
		})
		.done(function() {
			console.log(  "Initial data load success" );
		})
		.fail(function() {
			console.log( "Initial data load failure" );
		})
		.always(function() {
			console.log( "Initial data load" );
		});

		$('#add_exercise').on('click', function(e) {
			e.preventDefault();
			if(exerciseName === '') return;

			$.ajax({
				type: 'POST',
				contentType: "application/json",
				beforeSend: function(request) {
				  request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
				},
				data: JSON.stringify({
                    exercise_name: exerciseName,
                    workout: workoutId,

				}),
				success: function(response) {
				  $('#exercise_table').prop('hidden', false);
				  $('#add_exercise_form')[0].reset();
				  createTable(response);
				  createAndAddSession(response);
				},
				error: function(){

				},
				url: '/api/session/',
				cache:false
			});
		});

		$(document).on('click', '[id^="session_submit_"]', function(e){
			var submitButton = $(this)[0];
			var tableRow = $(this).parent().parent()[0]['children'];
			e.preventDefault();
			var exerciseName = tableRow[0]['childNodes'][0]['data'];
			var reps = tableRow[2]['childNodes'][1]['value'];
			var sets = tableRow[1]['childNodes'][1]['value'];
			var weight = tableRow[3]['childNodes'][1]['value'];
			var exercises = [
				{ name: exerciseName }
			];

			$.ajax({
				type: 'POST',
				contentType: "application/json",
				beforeSend: function(request) {
				  request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
				},
				data: JSON.stringify({
				  reps: reps,
				  weight: weight,
				  sets: sets,
				  completed: true,
				  exercises: exercises
				}),
				success: function() {
					submitButton['disabled'] = true;
					submitButton['value'] = 'completed';
					tableRow[1]['childNodes'][1]['disabled'] = true;
					tableRow[2]['childNodes'][1]['disabled'] = true;
					tableRow[3]['childNodes'][1]['disabled'] = true;
				},
				error: function(){

				},
				url: '/api/session/',
				cache:false
			});
		});

		$('#start_workout').on('click', function(e) {
			e.preventDefault();
			var workoutType =
				{ name: $('#workout_name').val() };

			$.ajax({
				type: 'POST',
				contentType: 'application/JSON',
				beforeSend: function(request) {
				  request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
				},
				data: JSON.stringify({
					workout_type_name: workoutTypeName
				}),
				success: function (response) {
					workoutCreated = response['created'];
					$('#exercise_form').css('visibility', 'visible');
					$('#workout_type_form').prop('hidden', true);
					$('#complete_workout_btn').prop('hidden', false);
					$('#workout_type_name').append(response['workout_type_name']);

				},
				error: function () {

				},
				url: '/api/workout/',
				cache:false
			})
		});

		function createTable (response) {
			var trHTML = '';
			$.each(response['exercises'], function (key,value) {
				var sets = '';
				var weight = '';
				var reps = '';
				var disabled = '';
				var complete = 'COMPLETE';
				if (value.sessions !== 0){
					sets = value.sessions['sets'];
					weight = value.sessions['weight'];
					reps = value.sessions['reps'];
					disabled = 'disabled';
					complete = 'COMPLETED';
				}
				trHTML +=
					`
					<tr>
						<td id="exercise_${key}">${value.name}</td>
						<td>
							<input type="text" id="sets_input_${key}"  value="${sets}" style="text-align:center;" ${disabled}><br><br>
						</td>
						<td>
							<input type="text" id="reps_input_${key}"  value="${reps}" style="text-align:center;" ${disabled}><br><br>
						</td>
						<td>
							<input type="text" id="weight_input_${key}"  value="${weight}" style="text-align:center;" ${disabled}><br><br>
						</td>
						<td>
							<input type="submit" id="session_submit_${key}" value="${complete}" ${disabled}>
						</td>
					</tr>`;
			});

			$('#exercise_table tbody').empty().append(trHTML);
		}

		$('#complete_workout').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'PUT',
                contentType: 'application/JSON',
                beforeSend: function (request) {
                    request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                },
                data: JSON.stringify({
                    is_complete: true,

                }),
                success: function (response) {
                    console.log(`workout completed successfully with id ${response['id']}`);
                    location.reload();
                },
                error: function (response) {
                    console.log(`workout completed failed ${response}`)
                },
                url: `/api/workout/${workoutId}/`,
                cache: false
            });
        });

		$('#exercise_select').select2({
            placeholder: "Select a state",
            allowClear: true,
            ajax: {
                // Delay added so that calls to search API methods are not made before they are necessary
                delay: 250,
                url: '/api/exercise/',
                dataType: 'json',
                processResults: data => {
                    return {
                        results: $.map(data.results, item => {
                            return {
                                text: item.name,
                                id: item.id,
                            };
                        })
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
{#            minimumInputLength: 1,#}
            templateResult: item => {
                if (item.loading) { return 'Searching...'; }
                return item.text
            }
        });

		$('#workout_type_select').select2({
            placeholder: "Select a state",
            allowClear: true,
            maximumSelectionLength: 1,
            ajax: {
                // Delay added so that calls to search API methods are not made before they are necessary
                delay: 250,
                url: '/api/workout-type/',
                dataType: 'json',
                processResults: data => {
                    return {
                        results: $.map(data.results, item => {
                            return {
                                text: item.name,
                                id: item.id,
                            };
                        })
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
{#            minimumInputLength: 1,#}
            templateResult: item => {
                if (item.loading) { return 'Searching...'; }
                return item.text
            }
        });

		$('#workout_type_select').on('select2:select', function (e) {
            workoutTypeName = e['params']['data']['text'];
        })

        $('#exercise_select').on('select2:select', function (e) {
            exerciseName= e['params']['data']['text'];
        })

	});

	function createAndAddSession(response){

    }
	
	function stringBuilder(exerciseName, exerciseFields) {
	    var outputHtml = ""

        outputHtml += `
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            ${exerciseName}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                        <div class="form-group">
                            <label for="REPLACE1">
                                Reps</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="REPLACE1" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">
                                Sets</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">
                                Weight</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" placeholder=""
                                    required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary pull-right" type="submit" id="start_workout" value="Complete">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        `
    }
	</script>
{% endblock %}