{% extends 'base.html' %}
{% load static %}

{% block title %}Workout{% endblock %}

{% block content %}
    <h1>Workout</h1>
    <table>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight</th>
        {% for exercise in exercises %}
            <tr>
                <td id="exercise_{{ forloop.counter }}">{{ exercise.name }}</td>
                <form id="add_session_form_{{ forloop.counter }}" action="." method="post">
                    {% csrf_token %}
                    <td>
                        <input type="text" id="sets_input_{{ forloop.counter }}"  value="" style="text-align:center;"><br><br>
                    </td>
                    <td>
                        <input type="text" id="reps_input_{{ forloop.counter }}" value="" style="text-align:center;"><br><br>
                    </td>
                    <td>
                        <input type="text" id="weight_input_{{ forloop.counter }}" value="" style="text-align:center;"><br><br>
                    </td>
                    <td>
                        <input type="submit" id="session_submit_{{ forloop.counter }}" value="Complete">
                    </td>
                </form>
            </tr>
        {% endfor %}
    </table>
    <form action="." id="add_exercise_form" method="post">
        {% csrf_token %}
        Add new exercise:<br>
        <input type="text" id="exercise_name" value="Exercise name"><br><br>
        <input type="submit" id="add" value="Add">
    </form>

    <script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    $(document).ready(function() {
        $('#add_exercise_form').on('submit', function(e) {
            e.preventDefault();
            var objects =[
                { name: $('#exercise_name').val() }
            ];

            $.ajax({
              type: 'POST',
              contentType: "application/json",
              beforeSend: function(request) {
                  request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
              },
              data: JSON.stringify({
                  id: {{ workout.id }},
                  name: '{{ workout.name }}',
                  workout_type: 1,
                  exercises: objects,
              }),
              success: function(response) {
                $('#add_exercise_form')[0].reset();
                location.reload()
              },
              error: function(){

              },
              url: '/api/workout/',
              cache:false
            });
        });


        $("[id^='add_session_form_']").on('submit', function(e) {
            e.preventDefault();
            var idNumber = $(this).attr("id").replace('add_session_form_','');
            var repsId = '#reps_input_' + idNumber;
            var setsId = '#sets_input_' + idNumber;
            var weightId = '#weight_input_' + idNumber;
            var exerciseNameId = '#exercise_' + idNumber;
            var exerciseName = $(exerciseNameId).text();
            var exercises = [
                { name: exerciseName }
            ];

            $.ajax({
              type: 'POST',
              contentType: "application/json",
              beforeSend: function(request) {
                  request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
              },
              data: JSON.stringify({
                  reps: $(repsId).val(),
                  weight: $(weightId).val(),
                  sets: $(setsId).val(),
                  exercises: exercises,
              }),
              success: function(response) {
                  $(repsId).prop('disabled', true)
                  $(weightId).prop('disabled', true)
                  $(setsId).prop('disabled', true)
              },
              error: function(){

              },
              url: '/api/session/',
              cache:false
            });
        })
    });


    </script>

{% endblock %}